[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/plog"]
	path = submodules/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "submodules/glslang"]
	path = submodules/glslang
	url = https://github.com/KhronosGroup/glslang/
	branch = vulkan-sdk-1.4.309
[submodule "submodules/SPIRV-Tools"]
	path = submodules/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
	branch = vulkan-sdk-1.4.309
[submodule "submodules/SPIRV-Headers"]
	path = submodules/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
	branch = vulkan-sdk-1.4.309
